$scoreTextColor: hsl(229, 64%, 46%);
$headerOutlineColor: hsl(217, 16%, 45%);
$scissorsGradient: hsl(39, 89%, 49%);
$paperGradient: hsl(230, 89%, 62%);
$rockGradient: hsl(349, 71%, 52%);
$darkText: hsl(229, 25%, 31%);
$myBg: hsl(214, 47%, 23%);